{
  "presets": ["next/babel", "@emotion/babel-preset-css-prop"],
  "env": {
    "production": {
      "plugins": ["@emotion/babel-plugin"]
    },
    "development": {
      "plugins": [["@emotion/babel-plugin", { "sourceMap": true }]]
    }
  }
}
